<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Domain WHOIS Information</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lucide-icons/0.321.0/font/lucide.min.css">
   </head>
   <body class="relative min-h-screen overflow-hidden overflow-y-scroll bg-gradient-to-br from-blue-50 via-pink-50 to-blue-100 font-inter">
      <div class="flex flex-col min-h-screen">
      <div>
         <nav class="fixed top-0 left-0 right-0 z-50 transition-all duration-500 border-b shadow-lg navbar backdrop-blur-2xl bg-white/10 border-white/20 shadow-blue-100/10">
            <div class="px-[0.5in] mx-auto navbar-container max-w-[calc(100%-1in)]">
               <div class="relative flex items-center justify-between h-16 navbar-content">
                  <!-- Logo Section -->
                  <div class="absolute left-0 navbar-logo">
                     <a href="home.html">
                     <span class="text-2xl font-bold text-transparent bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text">
                     HostHunter
                     </span>
                     </a>
                  </div>
                  <!-- Action Buttons Section -->
                  <div class="absolute right-0 flex items-center space-x-2 navbar-actions sm:space-x-4 lg:space-x-6">
                     <!-- Settings Icon Button -->
                     <button class="p-2 transition-colors rounded-full hover:bg-white/20">
                        <a href="/settings">
                           <svg class="w-5 h-5 text-gray-600 sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                           </svg>
                        </a>
                     </button>
                     <!-- Profile Icon Button -->
                     <button class="pr-4 transition-colors rounded-full hover:bg-white/20">
                        <a href="/profile">
                           <svg class="w-5 h-5 text-gray-600 sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                           </svg>
                        </a>
                     </button>
                     <!-- Logout Button -->
                     <a href="login.html">
                     <button class="px-3 py-1 text-sm text-white transition-all duration-300 rounded-lg sm:px-4 sm:py-2 bg-gradient-to-r from-blue-600 to-pink-600 hover:shadow-lg">
                     Logout
                     </button>
                     </a>
                  </div>
               </div>
            </div>
         </nav>
      </div>
      <!-- Animated Background -->
      <div class="absolute top-0 left-0 w-full h-full opacity-50 bg-gradient-to-br from-blue-50/20 via-pink-50/20 to-blue-100/20 animate-blob -z-10"></div>
      <!--Sidebar-->
      <div class="fixed top-[0.7in] bottom-0 left-0 max-h-screen  space-y-1.5 border-gray-200 shadow-lg w-72 bg-white/10 backdrop-blur-xl">
         <!-- Summary -->
         <a href="{{ url_for('result', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-file-text group-hover:text-blue-600">
                  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                  <polyline points="14 2 14 8 20 8"></polyline>
                  <line x1="16" x2="8" y1="13" y2="13"></line>
                  <line x1="16" x2="8" y1="17" y2="17"></line>
                  <line x1="10" x2="8" y1="9" y2="9"></line>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Summary
            </span>
         </a>
         <!--WHOIS-->
         <a href="{{ url_for('WhoisData', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <span class="absolute left-0 h-full w-1.5 rounded-full bg-gradient-to-b animate-pulse" 
               style="background-image: linear-gradient(to bottom, #3b82f6, #1d4ed8)"></span>
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gradient-to-r from-blue-500 to-blue-700">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-white lucide lucide-globe">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="2" x2="22" y1="12" y2="12"></line>
                  <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
               </svg>
            </div>
            <span class="font-medium text-transparent transition-colors duration-300 bg-clip-text bg-gradient-to-r from-blue-500 to-blue-700">
            WHOIS
            </span>
         </a>
         <!-- IP Data -->
         <a href="{{ url_for('IPData', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-server group-hover:text-blue-600">
                  <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
                  <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
                  <line x1="6" x2="6.01" y1="6" y2="6"></line>
                  <line x1="6" x2="6.01" y1="18" y2="18"></line>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            IP Data
            </span>
         </a>
         <!-- DNS Records -->
         <a href="{{ url_for('dns', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-network group-hover:text-blue-600">
                  <path d="M9 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-5"></path>
                  <path d="M8 21h8"></path>
                  <path d="M12 17v4"></path>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            DNS Records
            </span>
         </a>
         <!-- Mailservers -->
         <a href="{{ url_for('mailserver', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-mail group-hover:text-blue-600">
                  <path d="M22 5a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V5z"></path>
                  <polyline points="22,5 12,13 2,5"></polyline>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Mailservers
            </span>
         </a>
         <!-- SSL Check -->
         <a href="{{ url_for('ssl', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-lock group-hover:text-blue-600">
                  <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                  <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            SSL Check
            </span>
         </a>
         <!-- Metadata -->
         <a href="{{ url_for('metadata', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-file-text group-hover:text-blue-600">
                  <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path>
                  <polyline points="14 2 14 8 20 8"></polyline>
                  <line x1="16" x2="8" y1="13" y2="13"></line>
                  <line x1="16" x2="8" y1="17" y2="17"></line>
                  <line x1="10" x2="8" y1="9" y2="9"></line>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Metadata
            </span>
         </a>
         <!-- Site Analysis -->
         <a href="{{ url_for('siteanalysis', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-search group-hover:text-blue-600">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" x2="16.65" y1="21" y2="16.65"></line>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Site Analysis
            </span>
         </a>
         <!-- Headers -->
         <a href="{{ url_for('headers', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-align-left group-hover:text-blue-600">
                  <line x1="3" y1="6" x2="21" y2="6"></line>
                  <line x1="3" y1="12" x2="15" y2="12"></line>
                  <line x1="3" y1="18" x2="10" y2="18"></line>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
               HTTP Headers
            </span>
         </a>
         <!-- Site Reputation -->
         <a href="" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-shield-off group-hover:text-blue-600">
                  <path d="M19.69 14a6.9 6.9 0 0 0 .31-2V5l-8-3-3.16 1.18"></path>
                  <path d="M4.73 4.73L4 5v7c0 6 8 10 8 10a20.29 20.29 0 0 0 5.62-4.38"></path>
                  <line x1="1" x2="23" y1="1" y2="23"></line>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Site Reputation
            </span>
         </a>
         <!-- Open Ports -->
         <a href="{{ url_for('openports', report_id = id) }}" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-terminal group-hover:text-blue-600">
                  <polyline points="4 17 10 11 4 5"></polyline>
                  <line x1="12" x2="20" y1="19" y2="19"></line>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Open Ports
            </span>
         </a>
         <!-- Vulnerabilities -->
         <a href="" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-alert-triangle group-hover:text-blue-600">
                  <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                  <path d="M12 9v4"></path>
                  <path d="M12 17h.01"></path>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Vulnerabilities
            </span>
         </a>
         <!-- Contact Details -->
         <a href="" class="relative flex items-center p-1.5 transition-all duration-500 transform rounded-2xl hover:bg-white/20 hover:scale-105 group">
            <div class="p-2 mr-3 transition-all duration-300 rounded-full group-hover:scale-110 group-hover:rotate-6 bg-gray-100/50">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600 lucide lucide-phone group-hover:text-blue-600">
                  <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
               </svg>
            </div>
            <span class="font-medium text-gray-700 transition-colors duration-300 group-hover:text-blue-700">
            Contact Details
            </span>
         </a>
       </div>
      <!-- Main Content -->
      <div class="pt-20 pl-[22rem]  flex-grow p-8 pb-20">
         <div class="flex items-center justify-between mb-8">
            <h1 class="text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-700 to-pink-700 animate-gradient-x">
               SSL Data
            </h1>
            <div class="flex space-x-4">
               <button class="px-3 py-1 text-white transition-transform bg-gradient-to-r from-blue-600 to-pink-600 rounded-xl hover:scale-110 hover:shadow-xl active:scale-95">
               Refresh Data
               </button>
               <button class="px-6 py-3 text-transparent transition-all border-2 border-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-pink-600 bg-origin-border hover:border-gradient-r hover:from-blue-600 hover:to-pink-600 rounded-xl hover:scale-110">
               Export Report
               </button>
            </div>
         </div>
         <div class="p-8 transition-all duration-500 transform border shadow-2xl bg-white/20 backdrop-blur-xl rounded-3xl border-white/20 hover:border-blue-100/50 hover:shadow-4xl hover:-translate-y-2">
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
               <div class="space-y-4">
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-500 lucide lucide-shield-half">
                           <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">Hostname</span>
                        <span class="font-medium text-gray-800">{{data["hostname"]}}</span>
                     </div>
                  </div>
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-500 lucide lucide-lock-keyhole">
                           <path d="M2 16V6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2Z"></path>
                           <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">Organization Name</span>
                        <span class="font-medium text-gray-800">{{data["issuer"]["organizationName"]}}</span>
                     </div>
                  </div>
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-600 lucide lucide-flag">
                           <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                           <line x1="4" x2="4" y1="22" y2="15"></line>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">Has SSL?</span>
                        <span class="font-medium text-gray-800">{{data["has_ssl"]}}</span>
                     </div>
                  </div>
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-600 lucide lucide-building">
                           <rect width="16" height="20" x="4" y="2" rx="2" ry="2"></rect>
                           <path d="M9 22v-4h6v4"></path>
                           <path d="M8 6h.01"></path>
                           <path d="M16 6h.01"></path>
                           <path d="M12 6h.01"></path>
                           <path d="M12 10h.01"></path>
                           <path d="M12 14h.01"></path>
                           <path d="M16 10h.01"></path>
                           <path d="M16 14h.01"></path>
                           <path d="M8 10h.01"></path>
                           <path d="M8 14h.01"></path>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">Is Valid?</span>
                        <span class="font-medium text-gray-800">{{data["is_valid"]}}</span>
                     </div>
                  </div>
               </div>
               <div class="space-y-4">
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-700 lucide lucide-file-text">
                           <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path>
                           <polyline points="14 2 14 8 20 8"></polyline>
                           <line x1="16" x2="8" y1="13" y2="13"></line>
                           <line x1="16" x2="8" y1="17" y2="17"></line>
                           <line x1="10" x2="8" y1="9" y2="9"></line>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">Port</span>
                        <span class="font-medium text-gray-800">{{data["port"]}}</span>
                     </div>
                  </div>
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-700 lucide lucide-barcode">
                           <path d="M3 5v14"></path>
                           <path d="M8 5v14"></path>
                           <path d="M12 5v14"></path>
                           <path d="M17 5v14"></path>
                           <path d="M21 5v14"></path>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">Country Name</span>
                        <span class="font-medium text-gray-800">{{data["issuer"]["countryName"]}}</span>
                     </div>
                  </div>
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-800 lucide lucide-calendar-clock">
                           <path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"></path>
                           <path d="M16 2v4"></path>
                           <path d="M8 2v4"></path>
                           <path d="M3.5 8.5h17"></path>
                           <path d="M18 16.5a2.5 2.5 0 1 1-2.5-2.5c.57 0 1.08.23 1.47.6"></path>
                           <path d="M16.5 18.5l1 1 2.5-2.5"></path>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">SSL Version</span>
                        <span class="font-medium text-gray-800">{{data["ssl_version"]}}</span>
                     </div>
                  </div>
                  <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                     <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-800 lucide lucide-calendar-x">
                           <rect width="18" height="18" x="3" y="4" rx="2" ry="2"></rect>
                           <line x1="16" x2="8" y1="2" y2="2"></line>
                           <line x1="10" x2="14" y1="14" y2="10"></line>
                           <line x1="10" x2="14" y1="10" y2="14"></line>
                        </svg>
                     </div>
                     <div>
                        <span class="block mb-1 text-sm text-gray-600">Days Remaining</span>
                        <span class="font-medium text-gray-800">{{data["days_remaining"]}} days</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-6">
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-900 lucide lucide-scroll">
                        <path d="M10 17v2a2 2 0 1 1-4 0v-1a2 2 0 0 0-2-2H2"></path>
                        <path d="M12 15v6"></path>
                        <path d="M19.5 3.5a2.8 2.8 0 0 0-4 0l-7 7a2.8 2.8 0 0 0 4 4l7-7a2.8 2.8 0 1 0-4-4"></path>
                        <path d="m11 7 4 4"></path>
                        <path d="M19 13l-4-4"></path>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Not Valid Before</span>
                     <span class="font-medium text-gray-800">{{data["not_valid_before"]}}</span>
                  </div>
               </div>
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-900 lucide lucide-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Not Valid After</span>
                     <span class="font-medium text-gray-800">{{data["not_valid_after"]}}</span>
                  </div>
               </div>
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-900 lucide lucide-key">
                        <path d="M10 2h4v4h-4z"></path>
                        <path d="m7 7 3-3 3 3"></path>
                        <path d="M13 10V7l-3-3-3 3v3h9z"></path>
                        <rect width="20" height="8" x="2" y="14" rx="2"></rect>
                        <path d="M6 18h.01"></path>
                        <path d="M10 18h.01"></path>
                        <path d="M14 18h.01"></path>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Version</span>
                     <span class="font-medium text-gray-800">{{data["version"]}}</span>
                  </div>
               </div>
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-900 lucide lucide-file-code">
                        <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <path d="m10 13-2 2 2 2"></path>
                        <path d="m14 17 2-2-2-2"></path>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Cipher</span>
                     <span class="font-medium text-gray-800">{{data["cipher"]}}</span>
                  </div>
               </div>
            </div>
            <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-6">
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-900 lucide lucide-scroll">
                        <path d="M10 17v2a2 2 0 1 1-4 0v-1a2 2 0 0 0-2-2H2"></path>
                        <path d="M12 15v6"></path>
                        <path d="M19.5 3.5a2.8 2.8 0 0 0-4 0l-7 7a2.8 2.8 0 0 0 4 4l7-7a2.8 2.8 0 1 0-4-4"></path>
                        <path d="m11 7 4 4"></path>
                        <path d="M19 13l-4-4"></path>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Public Key Type</span>
                     <span class="font-medium text-gray-800">{{data["public_key_type"]}}</span>
                  </div>
               </div>
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-900 lucide lucide-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Public Key Bits</span>
                     <span class="font-medium text-gray-800">{{data["public_key_bits"]}}</span>
                  </div>
               </div>
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-900 lucide lucide-key">
                        <path d="M10 2h4v4h-4z"></path>
                        <path d="m7 7 3-3 3 3"></path>
                        <path d="M13 10V7l-3-3-3 3v3h9z"></path>
                        <rect width="20" height="8" x="2" y="14" rx="2"></rect>
                        <path d="M6 18h.01"></path>
                        <path d="M10 18h.01"></path>
                        <path d="M14 18h.01"></path>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Signature Algorithm</span>
                     <span class="font-medium text-gray-800">{{data["signature_algorithm"]}}</span>
                  </div>
               </div>
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-900 lucide lucide-file-code">
                        <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <path d="m10 13-2 2 2 2"></path>
                        <path d="m14 17 2-2-2-2"></path>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Common Name</span>
                     <span class="font-medium text-gray-800">{{data["issuer"]["commonName"]}}</span>
                  </div>
               </div>
            </div>
            <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-6">
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-900 lucide lucide-scroll">
                        <path d="M10 17v2a2 2 0 1 1-4 0v-1a2 2 0 0 0-2-2H2"></path>
                        <path d="M12 15v6"></path>
                        <path d="M19.5 3.5a2.8 2.8 0 0 0-4 0l-7 7a2.8 2.8 0 0 0 4 4l7-7a2.8 2.8 0 1 0-4-4"></path>
                        <path d="m11 7 4 4"></path>
                        <path d="M19 13l-4-4"></path>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Serial Number</span>
                     <span class="font-medium text-gray-800">{{data["serial_number"]}}</span>
                  </div>
               </div><br>
               <div class="flex items-center p-4 space-x-4 transition-all duration-300 transform border bg-white/30 backdrop-blur-sm rounded-xl border-white/20 hover:border-blue-100/50 hover:scale-105">
                  <div class="p-3 rounded-full shadow-md bg-gradient-to-br from-blue-50 to-pink-50">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-pink-900 lucide lucide-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                     </svg>
                  </div>
                  <div>
                     <span class="block mb-1 text-sm text-gray-600">Public Key PEM</span>
                     <span class="font-medium text-gray-800">{{data["public_key_pem"]}}</span>
                  </div>
               </div>


            </div>
         </div>
         
      </div>
      </html>